[submodule "3. Semestr/IFJ"]
	path = 3. Semestr/IFJ
	url = https://github.com/Kaciis/ifj-projekt.git
[submodule "4. Semestr/IDS"]
	path = 4. Semestr/IDS
	url = https://github.com/liskarovh/IDS-projekt.git
[submodule "4. Semestr/ICS"]
	path = 4. Semestr/ICS
	url = https://github.com/liskarovh/Playlist-Manager.git
[submodule "4. Semestr/IVS/2/calculator"]
	path = 4. Semestr/IVS/2/calculator
	url = https://github.com/petrvitula/ivs_project.git

[submodule "3.  Semestr/IFJ"]
	path = 3.  Semestr/IFJ
	url = https://github.com/Kaciis/ifj-projekt.git
[submodule "5. Semestr/5. Semestr/IMS"]
	path = 5. Semestr/5. Semestr/IMS
	url = https://github.com/g0dhelpme/IMS_project.git
[submodule "5. Semestr/IMS"]
	path = 5. Semestr/IMS
	url = https://github.com/g0dhelpme/IMS_project.git
[submodule "5. Semestr/IIS"]
	path = 5. Semestr/IIS
	url = https://github.com/liskarovh/IIS-Generic-University-Information-System.git
