[submodule "4. Semestr/IDS"]
	path = 4. Semestr/IDS
	url = https://github.com/liskarovh/IDS-projekt.git
[submodule "4. Semestr/ICS"]
	path = 4. Semestr/ICS
	url = https://github.com/liskarovh/Playlist-Manager.git
[submodule "4. Semestr/IVS/2/calculator"]
	path = 4. Semestr/IVS/2/calculator
	url = https://github.com/petrvitula/ivs_project.git
[submodule "3. Semestr/IFJ/Compiler"]
	path = 3. Semestr/IFJ/Compiler
	url = https://github.com/Kaciis/ifj-projekt.git
